
<!--Photo gallery table-->
<table id="photoGallery" class="table photo center">
    <!--photo-->
    <tr>
        <td></td>
        <td> <div class="jumbotron blueBackGround whiteFont"> {{presentPhoto.title}} </div></td>
        <td></td>
    </tr>
    <!-- prev photo-->
    <tr>
        <td>
            <button class="btn btn-primary" ng-model="previousPhoto" ng-disabled="previousPhotoDisabled" ng-click="previousPhotoFunction()">
            Previous Photo
        </button></td>
        <td>
            <img src="{{presentPhoto.src}}" alt="{{presentPhoto.title}}" title="{{presentPhoto.title}}" />
        </td>
         <!-- next photo-->
        <td>

            <button class="btn btn-primary" ng-model="nextPhoto" ng-disabled="nextPhotoDisabled" ng-click="nextPhotoFunction()">
         NextPhoto
        </button>

        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <label class="label label-primary bigger"> {{indexPhoto+1}}/{{lenghtOfArray}}</label>
        </td>
        <td></td>
    </tr>
</table>
