<!-- ModalScreen -->
<div class="modal" id="imgModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Carica la tua foto</h4>
            </div>
            <div class="modal-body">
                <form ng-app="fileUpload" name="form">
                    <label>Seleziona foto: <small>max 2MB.</small></label>
                    <br/>
                    <button class="btn" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="2MB">
                    Seleziona
                </button>
                    <h5>{{file.name}}</h5>
                </form>
                <br/>
                <p class="text-danger">{{fileError}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="sendIMG()">Invia</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!--Sign-up form-->
    <form class="form-horizontal" ng-model="form" name="form" novalidate>
        <!--E-mail-->
        <div class="form-group">
            <label for="email">Inserisci una E-mail valida</label>
            <input type="email" class="form-control" ng-blur="controllaMail();controlCheckBox()" name="email" ng-model="email" placeholder="(Scrivi qui la tua e-mail)"
                required>
            <!-- Mostro gli errori nel caso in cui ci sia qualcosa di invalido nei campi-->
            <span ng-show="form.email.$invalid" class="leftAlignError"> {{emailError.email}}</span>
        </div>
        <!--password-->
        <div class="form-group">
            <label for="password">Inserisci una password valida</label>
            <input type="password" class="form-control" ng-blur="controllaPassword();controlCheckBox()" placeholder="(Scrivi qui la tua password)"
                name="password" ng-model="password" required />
            <!-- Mostro gli errori nel caso in cui ci sia qualcosa di invalido nei campi-->
            <span ng-show="form.password.$invalid" class="leftAlignError"> {{passwordError.password}}</span>
        </div>
        <!--repeat password-->
        <div class="form-group">
            <label for="nome">Ripeti la password</label>
            <input type="password" class="form-control" ng-blur="controllaPasswordRipetuta();controlCheckBox()" placeholder="(Ripeti la password scritta sopra)"
                name="passwordRipetuta" ng-model="passwordRipetuta" required/>
            <!-- Mostro gli errori nel caso in cui ci sia qualcosa di invalido nei campi-->
            <span ng-show="form.passwordRipetuta.$invalid" class="leftAlignError"> {{passwordRepeatError.passwordRepeat}}</span>
        </div>
        <!--Conto bancario-->
        <div class="form-group">
            <label for="pin">Inserisci il pin del conto bancario che ti è stato consegnato all'atto della creazione</label>
            <input type="number" class="form-control" ng-blur="controllaPin();controlCheckBox()" placeholder="(Inserisci il pin fornito dalla banca)"
                name="pin" ng-model="pin" required/>
            <!-- Mostro gli errori nel caso in cui ci sia qualcosa di invalido nei campi-->
            <span ng-show="form.pin.$invalid" class="leftAlignError"> {{pinErrors.error}} </span>
        </div>
        <!--Inserisci immagine di profilo-->
        <div class="form-group">
            <label for="picture">Inserisci un immagine del profilo (non obbligatorio) </label>
            <button id="btnpic" type="button" class="btn" data-toggle="modal" data-target="#imgModal">{{btnIMG}}</button>
        </div>
        <!--checkbox-->
        <div class="checkbox">
            <input type="checkbox" class="checkbox" ng-model="licence" name="licence" required> Ho letto il <a href="#!/licence"
                target="_blank">
                contratto di licenza</a>
            </input>
            <span ng-show="form.licence.$invalid" class="leftAlignError">{{licenceError.licence}}</span>
        </div>
        <!--submit button-->
        <div style="text-align:center;">
            <button type="submit" ng-click="sendData()" class="btn btn-primary" ng-disabled="!form.$valid">SignUp</button>
        </div>
    </form>
</div>