<!-- make a payment could be seen only if specified button was clicked-->
<div>
    <h1>{{message}}</h1>
    <!--form section is showed if user haven't done a transaction since some time or if it don't no one-->
    <form class="form-horizontal" ng-model="form" ng-show="!controlIfTransaction()" name="form" novalidate ng-submit="pay()">
        <!-- Conto da bonificare -->
        <div class="form-group formElementCenter">
            <label class="adminTitle" style="float:left">
                        Conto corrente beneficiario
                </label>
            <input type="number" class="form-control" ng-model="countNumber" name="countNumber" required ng-blur="controlCountNumber()" placeholder="Inserisci qui il numero di conto a cui vuoi fare il bonifico"
            />
            <!--Show error if invalid iban-->
            <span class="leftAlignError" ng-show="form.countNumber.$invalid">
                          {{countNumberErrors.error}} 
                           </span>
        </div>
        <!-- Cifra da pagare-->
        <div class="form-group formElementCenter">
            <label class="adminTitle" style="float:left">
                       Importo del bonifico
                </label>
            <input type="number" class="form-control" ng-model="payment" name="payment" ng-blur="controlPayment()" required placeholder="Inserisci qui la quota del bonifico"
            />
            <!--Show error if invalid payment-->
            <span class="leftAlignError" ng-show="form.payment.$invalid">
                 {{paymentErrors.error}} 
                   </span>
        </div>
        <!--Bottone per conferma di invio-->
        <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-disabled="formNotValid()">Esegui il bonifico</button>
        </div>
    </form>
    <!--form section is showed if user have done a transaction-->
    <div class="container" ng-show="controlIfTransaction()">
        <form class="form-horizontal">
            <div class="form-group">
                <button type="submit" class="btn btn-default leftArrow" name="resetBoolean" ng-model="resetBoolean" ng-click="resetBoolean()"> 
                    Effettua un altro bonifico
                        <img src="../../../CSS/images/arrows/blue_arrow.png" class="leftArrow"/>
                </button>
            </div>
        </form>
    </div>
</div>
<!-- end of payment section-->